body {
	width: 100%;
	background-color: #212121;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
}

body, header, nav {
	margin: 0px;
}

header {
	background-color: #0099CC;
	color: white;
	padding: 10px 10px;
}

nav {
	background-color: #8DC63F;
	margin-bottom: 20px;
	padding: 5px;
	height: 50px;
}

nav ul {
	float: left;
}

nav li {
	list-style-type: none;
	color: white;
	margin-left: 25px;
	margin-bottom: 10px;
	font-size: 1.3em;
	float: left;
}

nav li a {
	color: white;
	font-weight: bold;
	text-decoration: none;
}

nav li a:hover {
	text-decoration: underline;
}

nav li a.selected {
	color: #CCC;
}

section {
	clear: both;
	display: block;
	width: 80%;
	margin: 20px auto;
	vertical-align: top;
	text-align: center;
	min-height: 450px;
	background-color: #FFF;
	border-radius: 7px;
}

#title {
	padding: 20px; font-weight : bold;
	font-size: 20px;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
	padding: 5px;
	padding-left: 50px;
	align: center;
	width: 90%;
}

#table-images {
	height: 80px;
	weight: 80px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

th {
	background-color: white;
}

td.firstCol {
	background: white;
	font-weight: bold;
}

#images {
	width: 150px;
	height: 100px;
}

div {
	height: 150px;
}

#rows {
	float: left;
	margin-left: 60px;
	width: 150px;
	height: 150px;
	vertical-align: middle;
}

.list {
	float: right;
	margin-right: 60px;
	height: 150px;
}

#groups {
	display: inline-block;
	vertical-align: top;
	word-wrap: break-word;
	width: 200px;
	height: 275px;
	margin: 10px;
}

div>p {
	line-height: 0.5;
}

#mfg {
	font-weight: lighter;
	font-size: 15px;
}

#price {
	color: red;
}

#weight {
	font-size: 12px;
}

line-separator {
	height: 1px;
	border-bottom: 1px solid #313030;
}

#tile-star {
	height: 20px;
	width: 92px;
}

#table-star {
	height: 10px;
	width: 52px;
}

#list-star {
	height: 20px; 
	width: 92px;
}

#details-star {
	height: 20px; 
	width: 92px;
}

#details-images{
	float: left;
	height: 150px;
	width: 200px;
	padding: 10px
}

.details-body {
	text-align: left;
	padding: 10px;
}
