html {
  font: 30px Courier;
  color: white;
}
.box {
  width: 50px;
  height: 50 px;
  display: inline-block;
  padding: 20px;
  float: left;
  text-align: center;
  
}
.odd {
  background-color: #ee3e64;
}
.even {
  background-color: #44accf;
}