html {
font: 30px Courier;
color: white;
}
body {
margin:auto 0;
}

.box {
  width: 50px;
  height: 50 px;
  display: inline-block;
  padding: 20px;
  float: left;
  text-align: center;
}

.row{
	position: relative;
}
#row1 {
	display: inline-block;
	position: relative;
	left: 120px;
}
#row2 {
	display: inline-block;
	position: absolute;
	top: 75px;
	left: 80px;
}
#row3 {
	display: inline-block;
	position: absolute;
	top: 150px;
	left: 40px;
}
#row4 {
	display: inline-block;
	position: absolute;
	top: 225px;
	left: 0px;
}
#box_0 {
  position: relative;

}
#box_1 {
  position: relative;
  
}
.odd {
	background-color: #ee3e64;
}
.even {
background-color: #44accf;
}